@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@375&display=swap');



body {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 375;
    font-style: normal;
    width: 100%;
    color: #222222;
    background-color: #f0f8ff;
    text-decoration: none;
    position: relative;

}

#profile-body {
        background-color: #ecf0f3;
        display: flex;
        position: relative;
        width: 100%;
flex-wrap: wrap;
}

button:focus {
    outline: none;
} 

.custom-nav-items ul {
    display: flex;
    gap: 17px;
    align-items: center;
    height: 100%;
    margin: 0;
    font-size: large;
}

li, li:hover{
    list-style-type: none;
}


li a {
    text-decoration: none;
    color: #d6dde3;
}

li a:hover {
    text-decoration: none;
    color: #ffffff;
    scale: 1.2;
}

@media (min-width: 768px) {
.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
}

.col-md-4 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}



.signup-body {
    background-color: #ecf0f3;
}


.flex {
    display: flex;
}

nav {
    background-color: rgba(63, 63, 63, 0.518);
    backdrop-filter: blur(15px) brightness(75%) saturate(70%);
    border-radius: 0px 0px 3px 3px;
    height: 60px;
    box-shadow: 0px 15px 10px -5px rgba(0,0,0,0.1);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.641) 0%, rgba(70, 70, 70, 0.141) 100%), rgba(78, 78, 78, 0.822);
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}


/* .navbar-toggler-icon {
    background-color: #f5f5f5;
    opacity: 0.8;

} */

.bgg-yellow {
    background-color: #ffd700;
}


.added {
    border-radius: 0px 0px 3px 7px;

}

.nav-margin-top {
    margin-top: 90px;
}


.navbar-brand {
    color: #f5f5f5;
    font-weight:900;
    font-size: 1.8rem;
    letter-spacing: 1px;
}



.navbar-brand:hover {
    color: #cbac00;

}

.navbar-nav .nav-item .nav-link {
    /* color: #fff; */
    position: relative;
    transition: 0.3s;
    transform: translateX(0);
    margin-right: 10px;
    color: rgb(255, 255, 255);
    

}

.navbar-nav .nav-item .nav-link:hover {
    transform: translateX(10px);
    /* Hover effect with a transform */
}

.account {
    position: relative;
    transition: 0.3s;
    transform: translateX(0);
    margin-right: 10px;
    color: rgb(255, 255, 255);
    padding: 10px 5px;
}

.account:hover {
    transform: scale(1.1);
    transition: 0.3s;
    transform: translateX(0px);
}

.navbar-nav .nav-item .nav-link::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: aliceblue;
    transition: 0.3s;
}

.navbar-nav .nav-item .nav-link:hover::before {
    width: 100%;
}

#login {
    border-radius: 9px;
}


main {
    margin-top: 80px;
}

.main {
    height: 320px;


}

.my_row {
    display: flex;
    gap: 10px;
}

.background {
    background: linear-gradient(90deg, rgba(0,0,0,0.5075280112044818) 0%, rgba(16, 16, 16, 0.332) 100%), url(../images/deggendorf.jpg);
    border-radius: 8px;
    width: calc(100% - 320px);
    /* box-shadow: 11.41px 11.41px 16px #DAE2E8, -11.41px -11.41px 16px #FFFFFF; */
    position: relative;
}

.background img {
    position: absolute;
    aspect-ratio: 16/9;
    width: 580px;
    /* height: 300px; */
    border-radius: 10px;
    bottom: 0;
    right: 0;
    filter: brightness(0.9);
}

#explain, .display-5 {
    margin-left: 20px;
}

#explain span{
    border-radius: 10px;
    padding: 3px 7px;


}

.background img{
    object-fit:scale-down;
    position: absolute;
    bottom: 0;
    right: 0;
}

#weather {
    /* min-width: 300; */
    height: 320px;
    width: 320px;
    background-color: rgb(135, 197, 250);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    float: right;
    background: linear-gradient(50deg, rgba(0,0,0,0.5075280112044818) 0%, rgba(70, 70, 70, 0.141) 100%), #87c5fa;

}

#weather-icon{
    height: 200px;
    width: 200px;
    margin-left: auto;
    transform: translateY(-10px);
}


.first_section {
    margin-top: 10px;
    margin-left: 30px;
}

.first_section > h1:first-child {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 10px auto ;
}

.first_section > div {
    color: rgb(55, 55, 55);
}



.middle_section {
    display: flex;
    align-items: center;
    justify-self: center;
    transform: translateY(-30px);

}


.middle_section > div:first-child  {
    margin-left: 20px;
    font-size: 4rem;
    font-weight: 300;
    position: relative;
}


.middle_section > div:first-child::after {
    content: '°c';
    top: -8px;
    right: -37px;
    font-size: 2rem;
    position: absolute;
}


/* .middle-section img {

} */



.end_section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    align-items: center;
    transform: translateY(-50px);
    font-weight: 900;

}

.end_section .max {
    color: rgb(249, 117, 117);
    text-shadow: 3px 4px 19px rgba(0,0,0,1);
}

.end_section .min {
    color: rgb(122, 122, 251);
    text-shadow: 3px 4px 19px rgba(0,0,0,1);
}

.end_section > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.end_section > div:nth-child(1) {

    
    display: flex;
    flex-direction: column;
    align-items: space-between;


}

.end_section > div:nth-child(3)  {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#windsock {
    width: 40px;
    height: 40px;
}

#humidity {
    width: 50px;
    height: 50px;
}   

.about {
    margin: 20px auto 0px auto;
    width: 98%;
    /* border: 1px solid #d1d1d1; */
    border-radius: 20px;
    padding: 20px;
    display: flex;
    /* align-items: center; */
    font-size: 1.2rem;
    background-image: url('../../static/about.svg');
    color:#ecf0f3;
    /* flex-wrap: wrap; */

      
}

.about p {
    padding: 20px 20px 10px 0px;
    /* display: inline-block; */
    
}



.offer-and-demands {
    height: fit-content;
    background-color: #f0f8ff;
}


.text-danger-glow {
    color: #ff4141;
    text-shadow: 0 0 20px #f00, 0 0 30px #f00, 0 0 40px #f00, 0 0 50px #f00, 0 0 60px #f00, 0 0 70px #f00, 0 0 80px #f00;
  }
  
  .blink {
    animation: blinker 1.3s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
  }
  @keyframes blinker {  
    from { opacity: 1; }
    to { opacity: 0; }
  }

.special {
    /* background-color: rgb(54, 63, 37); */
    width: 100%;
    height: 100%;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: center;
}


.outer-wrapper {
    text-decoration: none;
    color: inherit;

}

.outer-wrapper:hover {
    text-decoration: none;
    color: inherit;
}


.card-body {
    padding: 0;
    /* background-color: yellowgreen; */
    /* gap: 30px; */
    margin: 40px 5px;
    border-radius: 30px;
    /* border: 1px solid #b0afaf; */
    position: relative;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    width: 250px;
    height: 320px;
    text-align: center;
    font-size: 1.1rem;
    box-shadow: 11.41px 11.41px 16px #DAE2E8, -11.41px -11.41px 16px #FFFFFF;
}

.special .card-body img {
    width: 100%;
    height: 200px;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
    position: relative;
    z-index: 0;
    position: absolute;
    top: 0px;

}




.custom-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}



/* .image-detail {
    width: 390px;
    height: 300px;
} */

.image-detail img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.task-image-detail {
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    position: absolute;
    top: 0px;
    object-fit: cover;
    height: 300px;
    z-index: 0;

}

.event-detail {
    width: 390px;
    height: 600px;
    margin-top: 0px;
    position: relative;
}

.event-detail p {

    text-align: center;
    z-index: 2;
}

.event-detail h1 {
    z-index: 2;
}

.event-item{
    z-index: 2;
    font-size: small;
}

.event-end-section {
    display: flex;
    position: absolute;
    bottom: 20px;
    z-index: 2;
    justify-content: center;
    width: 100%;


}

.card-body .blob {
    position: absolute;
    height: 49px;
    width: 49px;
    background-color: aliceblue;
    border-radius: 15px;
    top: 160px;
    left: 30px;
    /* border-radius: 71%; */
        z-index: 2;
        box-shadow:  20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;    
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #323232;

}

.card-body .title {
    position: absolute;
    top: 190px;
    left: 80px;
    width: 140px;
    /* height: max-content; */
    z-index: 2;
    color: #fff;
    font-weight: 600;
    font-size: 0.9rem;
    word-wrap: break-word;
    font-weight: bolder;
}


.before-task-title {
    position: relative;
    margin-bottom: 0;
    margin-top: 230px;
    margin-left: 30px;
    color: #fff;
    width: fit-content;
    font-weight: bolder;
    font-size: 1.1rem;
    background-color: #4d4d4d;
    padding: 15px 20px;
    border-radius: 30px;

    
}
 
.event-detail .task-title {
    position: relative;

    margin: 5px 0 0 20px;
    color: #fff;
    width: 350px;
    word-wrap: break-word;
    text-align: start;
    z-index: 2;

}

.event-detail .event-title {
    position: relative;

    margin: 295px 0 0 20px;
    color: #fff;
    width: 350px;
    word-wrap: break-word;
    text-align: start;
    z-index: 2;

}



.yellow-back {
    background-color: #ffd700;
    position: absolute;
    top: 340px;
    z-index: 0;
    height: 200px;
    width: 100%;
    border-radius: 0 0 30px 30px;
}


.custom-container2 {
    width: 100%;
    overflow-x: scroll;
    height:100%;
    z-index: 2;
    scroll-behavior: smooth;
    background-color: #ffd700;
}

::-webkit-scrollbar {
    height: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #898989;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }


.event-detail .details {
    display: flex;
    z-index: 2;
    gap: 10px;
    position: relative;
    margin-left: 10px;
    height: fit-content;
}


.event-detail .details p {
    flex-shrink: 0;
    width: fit-content;
    border-radius: 30px;
    background-color: #ffffff;
    padding: 13px 25px;
    margin: 10px 0px;

}
.event-detail .description {
    z-index: 2;
    justify-content: center;
    width: 100%;
    color: #ffffff;
    box-sizing: border-box;
    padding: 0 20px 20px 20px;
    text-align: center;
    background-color: #ffd700;
    border-radius: 0 0 30px 30px;
    margin: 0;
    word-wrap: break-word;
}



.card-body .place {
    position: absolute;
    top: 240px;
    left: 30px;
    width: 190px;
    height: 20px;
    z-index: 2;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
}
.card-body .occurance {
    position: absolute;
    top: 270px;
    left: 30px;
    height: 20px;
    z-index: 2;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
}

.card-body svg  {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 30px 30px;
}

.card-body.event-detail svg {
    position: absolute;
    top: 210px;
    width: 100%;
    border-radius: 0px;
}


.card-body.event-detail {
    height: fit-content;
}

/* .card-body .description {
    position: absolute;
    bottom: 50px;
    color: #ffffff;
    z-index: 2;
    padding: 10px;
    font-size: 0.9rem;
    text-overflow: ellipsis;
    white-space: nowrap;

} */

.created {
    position: absolute;
    font-size: 0.8rem;
    color: #ffffff;
    bottom: 0px;
    left: 9px;
    z-index: 2;
    font-weight: 900;
}


.card-body:hover {
    box-shadow: 0px 0px 10px 0px #b0afaf;
    transition: 0.3s;
    text-decoration: none;
}

.special-card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.special-card-body::after {
    content: "+";
    text-align: center;
    font-size: 50px;
    color: #b0afaf;
    font-weight: bold;

}

.special .card-body:hover::after {
    transition: 0.6s;
    scale: 1.9; 
}

.center_of_page {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}


/* .form-header {
    text-align: center;
    margin-top: 40px;
    height: 100vh;

} */


/* .signup {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
} */

.box {
    margin: auto;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 30px 40px 80px 40px;
    width: 370px;
    border-radius: 35px;
    background-color: #ecf0f3;
    box-shadow: -8px -8px 8px #feffff, 8px 8px 8px #161b1d2f;
    height: fit-content;
  }

.custom-box {
    margin-top: 80px;
    padding: 20px;
    margin-bottom: 0px;
    
}

.custom-box .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-box a {
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    /* background-color: #ff4141; */
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


button {
    font-family: "Comfortaa", sans-serif;

}


.logtest {
    width: 200px;
    height: 200px;
}



.bo {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}

.ob {
    padding: 10px 17px; /* Button size */
    border: none;
    border-radius: 10px;
    background-color: #ecf0f3; /* Button background color */
    cursor: pointer; /* Change mouse cursor on hover */
    box-shadow: 5px 5px 6px #0d275023, -5px -5px 6px #ffffff;
    margin-top: 10px;
  }
  
  .ob:hover {
    box-shadow: inset 5px 5px 5px #cbced1, inset -5px -5px 5px #ffffff; 
 }
  
  .ob.active {
    box-shadow: inset 5px 5px 5px #cbced1, inset -5px -5px 5px #ffffff; 
  }



.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: first baseline;
    color: #444444;
    
}


/* .form-group label {
    justify-self: flex-start;
} */

.form-group label {
    font-size: 16px;
    font-weight: 500;
    color: #858686;
  }

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-bottom: 20px;
    box-shadow: 5px 5px 6px #0d275023, -5px -5px 6px #ffffff;
    object-fit: cover;
}

.success-message {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    width: 70%;
    margin: auto;
    justify-content: center;
    border-radius: 10px;
    background-color: #4CAF50;
    height: 50px;
    display: flex;
    align-items: center;

}

/* .form-group input {
    height: 27px;
    width: 40%;
    background: #f0f8ff;
    border-radius: 10px;
    box-shadow: inset 7.81px 7.81px 15px #DAE2E8, inset -7.81px -7.81px 15px #FFFFFF;
    border: none;
    box-shadow: inset 5px 5px 4px #d6dde3,
    inset -5px -5px 4px #ffffff;
} */

.form-group .input-box {
    width: 100%;
    height: 35px;
    padding-left: 20px;
    border: none;
    color: #858686;
    margin-top: 10px;
    background-color: #ecf0f3;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 5px 5px 5px #cbced1, inset -5px -5px 5px #ffffff;
  }

  .box .input-box::placeholder {
    color: #9ea0a0;
  }

.form-group input:focus {
    outline: none;
    box-shadow: inset 5px 5px 4px #d6dde3,
    inset -5px -5px 4px #ffffff;
}

.forget {
    margin-top: 15px;
  }
  .forget .fg a {
    text-decoration: none;
    font-size: 13px;
    color: #8f8c8c;
    line-height: 24px;
  }
  .forget .fg {
    display: inline-block;
    margin-left: 58%;
    font-size: 12px;
  }
  .forget .fg:hover {
    text-decoration: underline;
    text-decoration-color: #b4b8b8;
  }
  .forget .checkbox-label {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    line-height: 22px;
  }
  .label-text {
    color: #8f8c8c;
    display: inline-block;
    position: absolute;
    font-weight: 500;
    left: 12%;
    font-size: 13px;
  }
  .forget .checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .checkbox-label .checkbox-custom {
    position: absolute;
    top: 0;
    left: 0px;
    height: 20px;
    width: 20px;
    background-color: #ecf0f3;
    border-radius: 5px;
    border: none;
    box-shadow: inset 3px 3px 3px #cbced1, inset -3px -3px 3px #ffff;
  }
  .checkbox-label input:checked~.checkbox-custom {
    background-color: #ecf0f3;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity: 1;
    border: none;
    box-shadow: -4px -4px 4px #feffff, 4px 4px 4px #161b1d2f;
  }
  .checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #635f5f;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity: 1;
    transition: all 0.3s ease-out;
  }
  .checkbox-label input:checked~.checkbox-custom::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 7px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid #635f5f;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
  }


.btn {
    width: 100%;
    margin-top: 20px;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #727171;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    box-shadow: -5px -5px 8px #d8e2e6, 5px 5px 10px #2c313378;
    transition: 0.8s;
  }

  .btn:hover {
    background-color: #535658;
    box-shadow: inset 5px 5px 10px #05050578, inset -5px -5px 10px #9e9c9c;
  }

.form-group select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn:disabled {
    background-color: #727171;
    cursor: not-allowed;
  }

  .btn:disabled:hover {
    background-color: #727171;
    cursor: not-allowed;
  }





    .btn-login {
        /* background-color: #9C27B0; */
        color: #1d1d1d;
        /* border: none; */
        border-radius: 5px;
        padding: 8px 20px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        /* border: 1px solid #ffffff; */
    }
    .btn-login:hover{
        background-color: white;
        /* color: #f02121; */
        /* border: 1px solid #eae704; */
    }


footer {
    background-color: #222222;
    color: #fff;
    box-sizing: border-box;
    height: 60px;
    text-align: center;
    width: 100%;
    /* margin-top: 20px; */
}



footer .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


footer p {
    margin: 0;
}



    .my-input-class, .my-select-class, .my-textarea-class {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        width: 100%;
        margin-bottom: 15px;
    }

    .my-checkbox-class {
        margin: 10px 0;
    }

    .btn-submit {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .btn-submit:hover {
        background-color: #45a049;
    }



    .dropdown {
        display: inline-block;
        position: relative;
        margin: 0;
      }
      
      .dd-button {
        display: inline-block;
        border-radius: 30px;
        padding: 10px 10px;
        cursor: pointer;
        white-space: nowrap;
      }
      
      
      .dd-button:hover {
        background-color: #ffd700;
      }
      
      
      .dd-input {
        display: none;
      }
      

      ul.dd-menu {
        position: absolute;
        top: 100%;
        right: 0;
        border-radius: 30px;
        padding: 0;
        margin: 2px 0 0 0;
        box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
        background-color: #eeeeee;
        list-style-type: none;
        height: fit-content;
      }
      
      .dd-input + .dd-menu {
        display: none;
      } 
      
      .dd-input:checked + .dd-menu {
        display: block;
      } 
      
      .dd-menu li {
        padding: 10px 0px;
        cursor: pointer;
        white-space: nowrap;
        background-color: transparent;
        border-radius: inherit;
      }
      
      .dd-menu li:hover {
        background-color: #c7c7c7;
      }
      
      .dd-menu li a {
        padding: 10px 20px;
        width: 100%;
        height: 100%;
        color: #000;
        text-decoration: none;
      }
      
      .dd-menu li.divider{
        padding: 0;
        border-bottom: 1px solid #cccccc;
      }


      @media (max-width: 630px) {
        .custom-nav-items {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            border-radius: 30px;
            padding: 0;
            margin: 2px 0 0 0;
            box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
            background-color: #eeeeee;
            list-style-type: none;
            height: fit-content;
          }



        

        .custom-nav-items ul {
            display: flex;
            flex-direction: column;
            color: #000;
            border-radius: 30px;
            justify-content: center;
            align-items: center;
            padding: 0;
        }

        .custom-nav-items li {
            padding: 10px 20px;
            cursor: pointer;
            white-space: nowrap;
            background-color: transparent;
            border-radius: inherit;
        }

        .custom-nav-items a {
            color: #000;
        }

        .hamburger {
            display: inline-block;
            border-radius: 17px;
            cursor: pointer;
            width: 50px;
            height: 50px;
            flex-shrink: 0;
            margin: 0;

        }




        .hamburger-input:checked + .custom-nav-items {
            display: block;

        }


      }

        @media (min-width: 630px) {
            .hamburger {
                display: none;
            }
        }

        .hamburger-input {
            display: none;
        }

.custom-column {
            width: 50%;
        }

.custom-column .card-body img {
    width: 100%;
    height: 200px;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
    position: relative;
    z-index: 0;
    position: absolute;
    top: 0px;
}

.col2 {
    height: fit-content;
}

.experiment:hover {
    cursor: default;
}

.profile-events, .profile-tasks {
    display: flex;
    flex-wrap: wrap;
    /* scale: 0.8; */
    cursor: default;
    justify-content: center;

}

.profile-events:hover, .profile-tasks:hover {
    cursor: default;

}


.agents {
    position: absolute;
    top: 0;

}

.agent1 {
    right: 0;
    height: 50px;
    opacity: 0;
    z-index: 1000;
    cursor: pointer;
}

.agent2 {
    left: 0;    
}

.agent3 {
    position: absolute;
    top: 0;
    padding-top: 30px;
    width: 100%;
    height: 320px;
    background-color: #FF0066;
    z-index: 2000;
    border-radius: 30px;
    box-sizing: border-box;

}

.experiment a {
    cursor: pointer;
}

.confirm {
    display: none;

}


.delete-bubble {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 0 30px 0 0;

}

.modify-bubble {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 30px 0 0 0;

}

.modify-bubble svg {
    position: absolute;
    top: 0;
    left: 0;

    border-radius: 0px;
    transform: translate(-38px, -38px);


}

.modify-link {
    height: 50px;
    width: 50px;
    opacity: 0;
    cursor: pointer;
    z-index: 1000;
}

.trash {
    position: absolute;
    top: 0;
    right: 10px;
    width: 27px;
    height: 27px;

}

.modify{
    position: absolute;
    top: 0;
    left: 10px;
    width: 27px;
    height: 27px;
}

.modify svg {
    position: absolute;
    top: 0;
    left: 0;

    border-radius: 0px;
    transform: translateY(-10px);

}

.trash svg {
    position: absolute;
    top: 0;
    right: 0;

    border-radius: 0px;
    transform: translateY(-10px);
}

.delete-bubble svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    border-radius: 0px 30px 0px 0px;
    transform: translate(33px, -39px);
}

.custom-btn {
    margin-top: 30px;
    width: 50px;
    height: 30px;
    border-radius: 10px;
    background-color: #ffd700;
    display: flex;
    justify-content: center;
    align-items: center;

    /* padding-block: 1px;
    padding-inline: 6px; */
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    appearance: auto;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    font-size: 0.875rem;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}


/* Center the logo on mobile devices */
@media (max-width: 767px) {
    .navbar-brand {
        text-align: left;
        /* background-color: azure; */
        width: 54%;
        /* margin-left: 5px; */
    }


    .custom-column {
        width: 100%;
      }

    .custom-column h1 {
        text-align: center;
    }



    .card-body {

        font-size: 1.3rem;
    }


    #weather {
        display: none;
    }

    .background {
        width: 100%;
    }

    .about {
        flex-wrap: wrap;
    
          
    }
}

